@charset "utf-8";
*{
	margin:0;
	padding: 0;

}
ul{
	padding:0;
	margin:0;
	list-style-image: url('../assets/img/meally_fav.png');
}
li{
	float:left;
}
.div img
{
	position: absolute;

}
nav a{
	font-family: 'Merriweather', serif;
}
nav a:hover {
	background: #ffd1dc
	transition:0.5s;
	text-transform: uppercase;

}